<div class="container" style="margin-bottom: 20px;">
<!-- ABOUT -->
<section id="about">
    <div class="page-header">
        <h1>About <small>Who we are, what we do and when we meet</small></h1>
    </div>
    <div class="row">
        <div class="span8">
            <h3>Joining age</h3>
            <p>Beavers are usually aged between six and eight years old, though they can be as young as five and three quarters.
                Earlier entry is at the Beaver Scout Leader's discretion (for example, to allow someone a little bit younger to join at the same time as their friends).</p>

            <h3>Structure</h3>
            <p>A group of Beaver Scouts is called a Colony, and each Colony can be split up into smaller groups called Lodges.
                Beavers have a Promise and Motto, but there is not a Beaver Scout Law. The concepts of the Scout Law should be presented to Beavers through games, storytelling and other informal devices.</p>

            <h3>When we meet</h3>
            <p>The Beaver Colony meets from 6.30pm to 7.30pm on Wednesday nights.</p>
            <p>If you are interesting in joining the Colony please <a href="#">contact us</a>.</p>
        </div>
        <div class="span4 beaver-image" style="margin-top: 30px;"></div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="span12 prettyprint">
            <div class="row">
                <div class="span4">
                    <h3>Uniform</h3>
                    <p>You can purchase the Beaver Scout sweatshirt from the <a href="http://www.glasgowscoutshop.com/acatalog/Beavers_Uniform.html">Glasgow Scout Shop</a>.</p>
                    <p>Click on the image to see badge positions.</p>
                </div>
                <div class="span2" style="margin-left: 0px;">
                    <img src="/img/beaverUniform.png" style="width: 100px;" />
                </div>
                <div class="span3">
                    <h3>Promise</h3>
                    <p>I promise to do my best,<br/>To be kind and helpful,<br/>And to love God.</p>
                </div>
                <div class="span3">
                    <h3>Motto</h3>
                    <p>Be Prepared.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SCHEDULE -->
<section id="schedule" style="margin-top: 50px;">
    <div class="page-header">
        <h1>Schedule <small>The Beaver Scout calendar</small></h1>
    </div>
    <div class="row">
        <div class="span12" style="padding-bottom: 15px;">
            <p>It is very important for the Beavers enjoyment and safety that we have an adequate number of helpers during our meets. This is especially important for outings. If you cannot make your allotted parent rota slot can you please let one of the leaders know as soon as possible.</p>
            <p>Our programme for the remainder of the year is below. If you have any skills, talents or ideas we are always looking for inspiration!</p>            </div>
        <div id="scheduleContainer" class="span12"></div>
    </div>
</section>

<!-- EVENTS -->
<section id="events">
    <div class="page-header">
        <h1>Events <small>What we've got planned</small></h1>
    </div>
    <div class="row">
        <div class="span12" id="eventsDiv">

        </div>
    </div>
</section>

<!-- MEDIA -->
<section id="media">
    <div class="page-header">
        <h1>Media <small>See what we've been up to</small></h1>
    </div>
    <div id="galleryPlaceholder">
        <ul style="margin-top: 20px" class="thumbnails"></ul>
    </div>
</section>
</div>