<div class="container" style="margin-bottom: 20px;">
<!-- ABOUT -->
<div class="about">
    <section id="about">
        <div class="page-header">
            <h1>About <small>Who we are, what we do and when we meet</small></h1>
        </div>
        <div class="row">
            <div class="span8">
                <h3>Basics</h3>
                <p>Cub Scouts are young people aged between 8 and 10 1/2, who make up the second section of the Scouting family, between Beavers and Scouts.</p>

                <h3>Joining</h3>
                <p>Under some circumstances, Cub Scouts can join the Pack as young as 7 1/2 if, for example, they have friends joining at the same time, or are mature enough to move on early from Beavers, (and there is space in the Pack). Such decisions are taken by Cub and Beaver Scout leaders.</p>

                <h3>Activities</h3>
                <p>During their time in the Pack, Cub Scouts will get a chance to try lots of different activities like swimming, music, exploring, computing and collecting. There are a range of badges available which Cub Scouts can wear on their uniforms to show everyone how well they're doing.</p>
                <p>Cub Scouts also get to go on trips and days out, to places like the zoo, theme parks or a farm. Sometimes they will be able to go camping with the rest of the Pack and take part in all kinds of outdoor activities. </p>

                <h3>When we meet</h3>
                <p>The Cub Pack meets from 7.00pm to 8.30pm on Thursday nights.</p>
                <p>If you are interesting in joining the Pack please <a href="#">contact us</a>.</p>
            </div>
            <div class="span4 cub-image" style="margin-top: 45px;"></div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="span12 prettyprint">
                <div class="row">
                    <div class="span4" style="width: 260px;">
                        <h3>Uniform</h3>
                        <p>You can purchase the Cub Scout sweatshirt from the <a href="http://www.glasgowscoutshop.com/acatalog/copy_of_Cub_Uniform.html">Glasgow Scout Shop</a>.</p>
                        <p>Click on the image to see badge positions.</p>
                    </div>
                    <div class="span2" style="margin-left: 20px;">
                        <img src="/img/cubUniform.png" style="width: 100px;" />
                    </div>
                    <div class="span4" style="width: 280px; margin-left: 30px;">
                        <h3>Promise</h3>
                        <p>I promise that I will do my best,<br/>To do my duty to God and to the Queen,<br/>To help other people,<br/>And to keep the Cub Scout Law.</p>
                    </div>
                    <div class="span4">
                        <h3>Cub Law</h3>
                        <p>Cub Scouts always do their best,<br/>Think of others before themselves,<br/>And do a good turn every day. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- SCHEDULE -->
<div class="schedule"></div>

<!-- EVENTS -->
<div class="events"></div>

<!-- MEDIA -->
<div class="media"></div>

    </div>