<div class="container" style="margin-bottom: 20px;">
<!-- ABOUT -->
<div class="about">
    <section id="about">
        <div class="page-header">
            <h1>About <small>Who we are, what we do and when we meet</small></h1>
        </div>
        <div class="row">
            <div class="span8">
                <h3>Basics</h3>
                <p>Explorer Scouts are young people, usually aged between 14 and 18 years old. They make up the fourth section of the Scouting family after Beavers, Cubs and Scouts.</p>

                <h3>Structure and Meetings</h3>
                <p>A group of Explorer Scouts is called a Unit.</p>
                <p>Not all Units meet every week, partly due to activities, holidays, exams and the other commitments that crop up in a teenager's life, and also because Explorers tend to get out and about at weekends more often than other sections.</p>

                <h3>Activities</h3>
                <p>Explorer Scouts often get the chance to work with other Explorer Scouts in their District, not just their own Unit, so can take part in an even wider spectrum of activities.</p>
                <p>There is also a range of ambitious badges and awards, through which Explorers can demonstrate their proficiencies and expand their interests.</p>

                <h3>When we meet</h3>
                <p>The Explorers meet from 7.00pm to 9.00pm on Tuesday nights.</p>
                <p>If you are interesting in joining the Explorers please <a href="/#/contact">contact us</a>.</p>
            </div>
            <div class="span4" style="margin-top: 25px;">
                <ul class="media-grid" style="padding-left: 55px; list-style-type: none;">
                    <li><a><img class="thumbnail" src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/esu.jpg" style="height: 150px"></a></li>
                </ul>
            </div>
            <div class="span4 explorer-image" style="margin-top: 35px;"></div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="span12 prettyprint">
                <div class="row">
                    <div class="span4" style="width: 260px;">
                        <h3>Uniform</h3>
                        <p>You can purchase the Explorer shirt from the <a target="_blank" href="http://www.glasgowscoutshop.com/acatalog/Explorer_Uniform.html">Glasgow Scout Shop</a>.</p>
                        <p>Click on the image to see badge positions.</p>
                    </div>
                    <div class="span2" style="margin-left: 10px;">
                        <a href="http://scouts.org.uk/documents/Memberresources/Uniform_diagrams/Explorer-Scout-uniform.pdf" target="_blank"><img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/explorerUniform.png" style="width: 100px;" /></a>
                    </div>
                    <div class="span4" style="width: 260px; margin-left: 110px;">
                        <h3>Polo Shirts</h3>
                        <p>The Explorers also wear "Thirteenth" branded polo shirts when they're out and about.</p><p>Let us know if you would like to get one!</p>
                    </div>
                    <div class="span2" style="margin-left: 10px;">
                        <img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/explorerPolos.png" style="height: 123px;" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>