<div class="container" style="margin-bottom: 20px;" xmlns="http://www.w3.org/1999/html">
<!-- ABOUT -->
<div class="about">
    <section id="about">
        <div class="page-header">
            <h1>About <small>Who we are, what we do and when we meet</small></h1>
        </div>
        <div class="row">
            <div class="span8">
                <h3>Basics</h3>
                <p>The Scout Section is for young people, usually aged between 10½ and 14 years. A young person can come into the Troop at 10 and may stay until they are 14½  years old. The Scout Troop is the third section in the Scout Group, above Beavers and Cubs.</p>

                <h3>Joining</h3>
                <p>Under some circumstances, Cub Scouts can join the Pack as young as 7 1/2 if, for example, they have friends joining at the same time, or are mature enough to move on early from Beavers, (and there is space in the Pack). Such decisions are taken by Cub and Beaver Scout leaders.</p>

                <h3>Activities</h3>
                <p>Scouts are encouraged to take part in a wide range of activities as part of their programme. Participation rather than meeting set standards is the key approach, and for the Scout who wants to be recognised for his or her achievements there are a number of Challenges awards and activity badges.</p>
                <p>Scouts take part in a Balanced Programme that helps them to find out about the world in which they live, encourages them to know their own abilities and the importance of keeping fit, and helps develop their creative talents. It also provides opportunities to explore their own values and personal attitudes.</p>
                <p>Being outdoors is important, and half the programme is given over to taking part in traditional Scouting skills, such as camping, survival and cooking, as well as a wider spectrum of adventurous activities, from abseiling to zorbing.</p>

                <h3>When we meet</h3>
                <p>The Scout Troop meets from 7.00pm to 9.00pm on Tuesday nights.</p>
                <p>If you are interesting in joining the Troop please <a href="/#/contact">contact us</a>.</p>
            </div>
            <div class="span4 scout-image" style="margin-top: 45px;"></div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="span12 prettyprint">
                <div class="row">
                    <div class="span4" style="width: 260px;">
                        <h3>Uniform</h3>
                        <p>You can purchase the Scout shirt from the <a target="_blank" href="http://www.glasgowscoutshop.com/acatalog/Scout_Uniform.html">Glasgow Scout Shop</a>.</p>
                        <p>Click on the image to see badge positions.</p>
                    </div>
                    <div class="span2" style="padding-left: 15px;">
                        <a href="http://scouts.org.uk/documents/Memberresources/Uniform_diagrams/Scout-uniform.pdf" target="_blank"><img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/scoutUniform.png" style="width: 100px;" /></a>
                    </div>
                    <div class="span4" style="width: 260px; margin-left: 110px;">
                        <h3>Record Book</h3>
                        <p>Scouts are expected to carry this as part of their uniform. Scouts should record when badges are awarded and when they have participated in any nights/hikes away.</p>
                    </div>
                    <div class="span2" style="margin-left: 15px;">
                        <img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/scoutRecordBook.jpg" style="height: 110px; padding-top: 8px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="span12 prettyprint" style="margin-top: 15px;">
                <div class="row">
                    <div class="span4" style="width: 260px;">
                        <h3>Promise</h3>
                        <p>On my Honour,<br/> I promise that I will do my best,<br/>To do my duty to God and to the Queen,<br/>To help other people,<br/>And to keep the Scout Law.</p>
                    </div>
                    <div class="span4">
                        <h3>Scout Law</h3>
                        <ol class="black">
                            <li>A Scout is to be trusted.</li>
                            <li>A Scout is loyal.</li>
                            <li>A Scout is friendly and considerate.</li>
                            <li>A Scout belongs to the worldwide family of Scouts.</li>
                        </ol>
                    </div>
                    <div class="span4">
                        <h3>&nbsp;</h3>
                        <ol start="5" class="black">
                            <li>A Scout has courage in all difficulties.</li>
                            <li>A Scout makes good use of time and is careful of possessions and property.</li>
                            <li>A Scout has self-respect and respect for others.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- SCHEDULE -->
    <section id="schedule" style="margin-top: 50px;">
        <div class="page-header">
            <h1>Schedule <small>The Scout calendar</small></h1>
        </div>
        <div class="row">
            <div class="span12" style="padding-bottom: 15px;">
                <p>It is very important for the Beavers enjoyment and safety that we have an adequate number of helpers during our meets. This is especially important for outings. If you cannot make your allotted parent rota slot can you please let one of the leaders know as soon as possible.</p>
                <p>Our programme for the remainder of the year is below. If you have any skills, talents or ideas we are always looking for inspiration!</p>            </div>
            <div id="scheduleContainer" class="span12"></div>
        </div>
    </section>

    <!-- EVENTS -->
    <section id="events">
        <div class="page-header">
            <h1>Events <small>What we've got planned</small></h1>
        </div>
        <div class="row">
            <div class="span4">
                <p>Stay up to date with what we've got planned. This section will contain important information for both parents and Scouts, so please check it <i><u>regularly</i></u>!</p>
                <p>All necessary permission forms and useful downloads/links relating to upcoming activities will be available from here.</p>
                <img src="http://images.gotwoggle.com.s3.amazonaws.com/camp.gif" width="250px" style="margin-left: 50px; margin-top: 20px;"/>
            </div>
            <div id="eventContainer" class="span8"></div>
        </div>
    </section>

    <!-- MEDIA -->
    <section id="media">
        <div class="page-header">
            <h1>Media <small>See what we've been up to</small></h1>
        </div>
        <div class="row">
            <div class="span12" id="mediaContainer">
            </div>
        </div>
    </section>
</div>
</div>