<div class="container" style="margin-bottom: 20px;">
    <section id="history">
        <div class="page-header">
            <h1>Contact <small>Get in touch with the leaders</small></h1>
        </div>

        <div class="row">
            <div class="span8">
                <div class="well well-large">
                    <h3 style="margin-bottom: 15px;">Contact Form</h3>
                    <div class="control-group">
                        <label class="control-label" for="inputName">Name</label>
                        <div class="controls">
                            <input type="text" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPhone">Phone</label>
                        <div class="controls">
                            <input type="text" id="inputPhone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="messageType">Contact</label>
                        <div class="controls">
                            <select id="messageType">
                                <option value="leaders">Leaders</option>
                                <option value="hall">Hall Lets</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMessage">Message</label>
                        <div class="controls">
                            <textarea rows="5" id="inputMessage" style="width: 98%;"/>
                        </div>
                    </div>
                    <a id="btnSubmit" class="btn btn-primary" style="">Submit</a>
                </div>
            </div>
            <div class="span4">
                <div class="thumbnail" style="margin-bottom: 15px;">
                    <div style="height: 200px; background-position: center; background-image: url('http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=370x210&maptype=roadmap&markers=color:blue%7Clabel:Scout%20Hall%7C55.800003,-4.077945&sensor=false'); background-size: cover"></div>
                </div>
                <p><strong>2nd Bothwell Scout Group</strong><br>Bothwell Scout Hall <br>Clyde Avenue,<br>Bothwell,<br> Glasgow</p>
            </div>
        </div>
    </section>
</div>