<div class="scoutLogo"></div>
<header class="jumbotron masthead" id="overview" style="padding-top: 0px; margin-top: -20px;">
    <div class="inner">
        <div class="container">
            <h1>2nd Bothwell Scout Group</h1>
            <p class="lead">
                With over 50 members enjoying our adventurous activities every week and new members joining all the time,<br/> 2nd Bothwell is the most exciting youth organisation to be in right now!<br />
                <br/>We offer a programme full of fun and adventure for ages 6 up to 18!</p>
        </div><!-- /container -->
    </div>
</header>

<div class="quickstart">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h6>Welcome Pack</h6>
                <p>Members should complete the forms found at the back of the pack.</p>
                <p><a href="http://downloads.gotwoggle.com.s3.amazonaws.com/welcomePack.pdf" target="_blank" class="btn btn-primary">Download Pack &raquo;</a></p>
            </div>
            <div class="span4">
                <h6>Hire our Hall</h6>
                <p>Our newly refurbished hall is available to hire. Contact us for available time slots and prices.</p>
                <p><a href="/#/contact/hall" class="btn btn-info">Make Enquiry &raquo;</a></p>
            </div>
            <div class="span4">
                <h6>Make a Donation</h6>
                <p>Make a difference to the lives of our local young people by making a donation.</p>
                <p><a href="/#/contact" class="btn btn-success">Make Donation &raquo;</a></p>
            </div>
        </div><!-- /row -->
    </div>
</div>

<div class="container" style="margin-top: 20px;">

    <!-- About Bootstrap
   ================================================== -->
    <section id="welcome">
        <div class="page-header">
            <h1>Race Night <small>Friday 31st May</small></h1>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="span3">
                <div class="media-grid">
                    <img class="thumbnail" src="http://images.gotwoggle.com.s3.amazonaws.com/raceNight.jpg"/>
                </div>
            </div>
            <div class="span9">
                <p>We are having a race night on Friday 31st May and would love you, your friends & family to come along. The race night and disco will be from 7.30pm till Midnight. There will be a licensed bar, so it’s an <strong>over 18s event</strong>.</p>
                <p><strong>Tickets are £5.00 each</strong> and can be purchased via the leaders. If you are not able to come along on the night but would like to support us we are selling the jockeys and owners in the races, in advance of the evening, for £2.00 each.</p>
                <p>We would also appreciate any donations for raffle prizes, these can be given to any of the leaders.</p>
                <p>We really hope you can make it on the night and help support the Scout Group. If you need any more information please <a href="/#/contact">contact us</a>.</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
            <div class="span4">
                <h3>What is Scouting?</h3>
                <p>The Scout Movement is a global co-educational youth organisation, the largest in the world, with over 28 million Members in 216 countries and territories.</p>
                <p>The Scout Association offers everyday adventure and activity to almost 400,000 young people across the UK. Scouting is open to all young people aged 6 to 25 of every faith and background.</p>
                <p>Read more on <a target="_blank" href="http://www.scouts.org.uk">scouts.org.uk &rsaquo;</a></p>
                <p>
                    <a href="http://twitter.com/UKScouting" class="twitter-follow-button">Follow @UKScouting</a>
                    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                </p>
            </div>
            <div class="span4">
                <h3>Meeting Times</h3>
                <p>The meeting times for the various sections are as below.</p>
                <ul>
                    <li><a href="/#/beavers">Beavers</a>: Wednesdays, 6.30-7.30pm</li>
                    <li><a href="/#/cubs">Cubs</a>: Thurdays, 7-8.30pm</li>
                    <li><a href="/#/scouts">Scouts</a>: Tuesdays, 7-9pm</li>
                    <li><a href="/#/explorers">Explorers</a>: Mondays, 7-9pm</li>
                </ul>
                <p>Please <a href="/#/contact">contact us</a> if you are interested in joining one of our sections.</p>
            </div>
            <div class="span4">
                <h3>Our Location</h3>
                <p>Our hall is located at the bottom of <i>Clyde Avenue</i>.</p>
                <div class="media-grid">
                    <a target="_blank" href="https://www.google.com/maps/ms?msid=214142906003555669305.0004c94a1f7c1ec36ad9d&msa=0&ll=55.800702,-4.072323&spn=0.008744,0.023968">
                        <img style="border-color: #ddd !important;" class="thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=320x160&maptype=roadmap&markers=color:blue%7Clabel:Scout%20Hall%7C55.800003,-4.077945&sensor=false"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div><!-- /container -->
