<div class="container" style="margin-bottom: 20px;">
<section id="history">
    <div class="page-header">
        <h1>Friends of Bothwell Scouts <small>Thanks to those who have helped us</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <p>A place where the Group can say thank you to all the people who have helped us throughout the years.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12" style="margin-bottom: 7px; margin-top: 12px;">
            <img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/pattersons.png" style="margin-right: 25px; max-width: 148px;">
            <img src="http://images.gotwoggle.com.s3-external-3.amazonaws.com/macform.jpg" style="margin-right: 25px; max-width: 148px;">
        </div>
    </div>
    </div>
</section>
        </div>