<header class="jumbotron mastheadHeartstart" id="overview" style="margin-top: -20px; padding-top: 0px;">
    <div class="innerHeartstart">
        <div class="container">
            <h1>Heartstart Course</h1>
            <p class="lead">
                Would you know what to do in a life threatening emergency?<br />
                Learning Emergency Life Support (ELS) skills can help you keep someone alive until professional help arrives.<br />
            </p>
        </div><!-- /container -->
    </div>
</header>

<div class="container">
    <section id="about">
        <div class="page-header">
            <h1>Heartstart <small>Why learn, the course and how to sign up</small></h1>
        </div>
        <div class="row">
            <div class="span4">
                <h3>Why learn?</h3>
                <p>Learning emergency life support skills can help you to keep someone alive until professional help arrives.</p><p>2nd Bothwell Scout Group are offering the certified Heartstart training course to the public*.</p>
                <p class="grey">*A minimum donation of £5 per person is requested to cover training materials used.</p>
            </div>
            <div class="span4">
                <h3>The course</h3>
                <p>The two hour long Heartstart course includes skills such as:</p>
                <ul>
                    <li>Assessing an unconscious patient</li>
                    <li>Performing CPR</li>
                    <li>Dealing with chocking</li>
                    <li>Dealing with serious bleeding</li>
                    <li>Helping someone that maybe having a heart attack</li>
                </ul>
            </div>
            <div class="span4">
                <h3>Available dates</h3>
                <p>We are planning to run the Heartstart course on the following dates:</p>
                <ul>
                    <li>No dates currently scheduled</li>
                </ul>
                <p>To reserve a place phone <span class="grey">07939 284672</span> or email <a href="heartstart@gotwoggle.com">heartstart@gotwoggle.com</a></p>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="span12" align="center">
                <img alt="chain of survivial" src="/img/heartstart.jpg"/>
            </div>
        </div>

        <div class="row margin10">
            <div class="span12">
                <h3>Course Gallery</h3>
                <p>Here are some photos that were taken during our courses:</p>
                <p style="margin-top: 20px; margin-bottom: 50px; margin-left: 10px;">Coming Soon...</p>
                <!--
                <ul style="margin-top: 20px" class="thumbnails">
                    <li>
                        <div class="thumbnail" style="cursor: pointer">
                            <div style="height: 157px; width:100%; background-position: center; background-image: url('/img/heartstart/example-diagram-01.png'); background-size: cover"></div>
                        </div>
                    </li>
                </ul>
                -->
            </div>
        </div><!-- /row -->
    </section>

</div>