<div class="container" style="margin-bottom: 20px;">
<section id="history">
    <div class="page-header">
        <h1>History <small>Who are 2nd Bothwell Scout Group?</small></h1>
    </div>
    <div class="row">
        <div class="span12">
            <p>Bothwell Scouts were established in 1919 by the Reverend Dr R.C. Mackie and officially registered with the Scout Association on 31st July 1920 based at Glebe Road.</p>
            <p>There used to be a Scout Hall situated in the Glebe in Bothwell.</p>
            <p>The current hall (Woodean Scout Hall in Clyde Avenue, Bothwell) was opened by Bothwell Scout Founder Rev Dr R.C. Mackie in 1970.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12" style="margin-bottom: 7px; margin-top: 12px;">
            <h3>The Tartan Neckie</h3>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <div class="media-grid">
                <img class="thumbnail" src="/img/neckie.gif"  width="140">
            </div>
        </div>
        <div class="span10" style="margin-left: 0px;">
            <p>In 2005 we decided to change our Neckie of Green and White and adopt the Modern Douglas Tartan. As a Scottish troop we felt a tartan neckie was more apt. Modern Douglas was chosen as it was the Tartan worn by the Cameronians, Lanarkshires own regiment with a historical base in Hamilton. Until 2008, Hamilton was the Scout District we fell under.</p>
        </div>
    </div>
    <div class="span11 prettyprint" style="margin-top: 25px;">
        <div class="row">
            <div class="span11" style="text-align:center;">
                <p><i>We are currently attempting to obtain as much history of the Troop as we can from anyone who was involved in anyway at all with Bothwell Scouts.</i></p> <p><i>If you can help or know someone who can then please <a href="/#/contact">contact us</a>.</i></p>
            </div>
        </div>
    </div>
    </div>
</section>
        </div>