<div class="container" style="margin-bottom: 20px;">
<section id="about">
    <div class="page-header">
        <h1>Meet the Leaders/Committee<small> Find out who's who</small></h1>
    </div>

    <div class="row">

        <!-- Beavers -->
        <div class="span3">
            <h2>Beavers</h2>
            <p>Ages 6 to 8. Wednesdays, 6.30 - 7.30pm</p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/andy.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Andrew Thomson</b></p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/kirstin.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Kirstin Aitken</b></p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/female.png" width="90" height="90" alt="">
            </div>
            <p><b>Nicola Carlin</b></p>
        </div>

    </div><!-- /row -->

    <div class="row" style="margin-top: 40px;">

        <!-- Cubs -->
        <div class="span3">
            <h2>Cubs</h2>
            <p>Ages 8 to 10 ½. Thursdays, 7 - 9pm</p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/tony.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Tony Donnelly</b></p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/scott.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Scott Anderson</b></p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/male.png" width="90" height="90" alt="" style="height: 92px;">
            </div>
            <p><b>Ronnie Graham</b></p>
        </div>

    </div><!-- /row -->

    <div class="row" style="margin-top: 40px;">

        <!-- Scouts -->
        <div class="span3">
            <h2>Scouts</h2>
            <p>Ages 10 ½ to 14 ½ . Tuesdays, 7 - 9pm</p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/andy.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Andrew Thomson</b></p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/donald.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Donald Wilson</b></p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/male.png" width="90" height="90" alt="" style="height: 92px;">
            </div>
            <p><b>Ian McLean</b></p>
        </div>

    </div><!-- /row -->

    <div class="row" style="margin-top: 40px;">

        <!-- Explorers -->
        <div class="span3">
            <h2>Explorers</h2>
            <p>Ages 14 to 18. Mondays, 7 - 9pm</p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/craig.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Craig Borthwick</b></p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/johnny.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Jonathan Phillips</b></p>
        </div>


    </div><!-- /row -->

    <div class="row" style="margin-top: 40px;">

        <!-- Committee -->
        <div class="span3">
            <h2>Committee</h2>
            <p>People who assist in the running of the Scout Group.</p>
        </div>


        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
               <img class="thumbnail" src="/img/people/craig.jpg" width="90" height="90" alt="">
            </div>
            <p><b>Craig Borthwick</b> (GSL)</p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/female.png" width="90" height="90" alt="">
            </div>
            <p><b>Fiona Wilson</b> (Treasurer)</p>
        </div>

        <div class="span2" style="padding-bottom: 10px;">
            <div class="media-grid">
                <img class="thumbnail" src="/img/people/male.png" width="90" height="90" alt="" style="height: 92px;">
            </div>
            <p><b>Anton Smith</b> (Chairman)</p>
        </div>


    </div><!-- /row -->

</section>
    </div>