<div class="row">
    <table class="span12 table table-bordered table-striped">
        <% if (eventData.results) { %>
            <% _.each(eventData.results, function(e){ %>
                <tr>
                    <td><%= e.title %></td>
                    <td><%= e.startDate %></td>
                    <td><%= e.endDate %></td>
                    <td><%= e.htmlBody %></td>
                </tr>
            <% }); %>

            <% _.each(_.range(eventData.pageSize - eventData.results.length), function(e){ %>
                <tr><td></td><td></td><td></td><td></td></tr>
            <% }); %>

        <% } else { %>
            <tr><td colspan="5"><div style="background-image: url('/img/ajax-loader.gif'); background-repeat: no-repeat; padding-left: 22px;">Loading...</div></td></tr>
        <% } %>
    </table>
</div>
<div class="row">
    <% if (eventData.results) { %>
        <div class="pagination pagination-right" style="margin-top: 0px;">
            <ul>
                <li class="<% if (pager.currentPage === 0) { print('disabled'); } %>"><a class="prev" href="">«</a></li>
                <% _.each(buttons, function(b) { %>
                    <li class="<% if (b.IsCurrent) { print('active'); } %>"><a href="" class="page"><%= b.PageNumber+1 %></a></li>
                <% }); %>
                <li class="<% if (pager.currentPage === eventData.lastPage) { print('disabled'); } %>"><a class="next" href="">»</a></li>
            </ul>
        </div>
    <% } %>
</div>

<div id="eventModal"/>