<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%
            var date = formattedStartDate === formattedEndDate ? formattedStartDate : formattedStartDate + " - " + formattedEndDate;
        %>
        <h3><%= title %> <small><%= date %></small></h3>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 25px;"><%= htmlBody %></div>

        <% if (downloads && downloads.length > 0) { %>
            <div class="alert alert-block" style="padding-top: 8px; padding-bottom: 8px;"><strong>Downloads:</strong>
                <% _.each(downloads, function(d) { %>
                    <span><a href="<%= d.url %>" target="_blank" style="color: rgb(192,152,83)"><%= d.title %>; </a></span>
                <% }); %>
            </div>
        <% } %>

        <% if (links && links.length > 0) { %>
            <div class="alert alert-info"><strong>Links:</strong>
                <% _.each(links, function(l) { %>
                <span><a href="<%= l.url %>" target="_blank"><%= l.title %>; </a></span>
                <% }); %>
            </div>
        <% } %>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Close</a>
    </div>
</div>